
<form class="example-form">

    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name="email" matInput placeholder="Email">
      <mat-hint>Please Enter Your Email</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name="password" matInput placeholder="Password">
        <mat-hint>Please Enter Your Password</mat-hint>
      </mat-form-field>

      <p class="error" *ngIf = "error.code == 'auth/wrong-password'">{{error.message}}</p>
      <p class="error" *ngIf = "error.code == 'auth/user-not-found'">{{error.message}}</p>
      
  </form>
  <button mat-stroked-button color="primary" (click)="login()">Log in</button>