<div>
          <button *ngIf="!(authService.user | async)" mat-button (click) = "toLogin()">
            Login
          </button>
          <button *ngIf="authService.user | async" mat-button (click) = "toLogout()">
            Logout
          </button>
          <button mat-button (click) = "toItems()">
            Items
          </button>
          <a routerLink="/items">Items</a>
    </div>
  