

  <li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
   
    <mat-checkbox
    [(ngModel)]="status"
    (change) = "checkChange()">
  </mat-checkbox> 

{{name}} {{status}}

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "cancel()">Cancel</button> 

    <button  mat-stroked-button color="warn"
            *ngIf = "showEditField"
            (click) = "delete()">click to delete</button>

    <button mat-raised-button color="warn"
            (click) = "showEdit()"
            *ngIf = "showtheButton">
            Delete</button>


</li>


